:root {
    --blood-red: #d41432;
    --dark-red: #56000d;
    --ghost-purple: #8d3cff;
    --toxic-green: #41d67d;
    --candle-orange: #ff8a30;
    --ghost-white: #eeeeee;
    --night-black: #050507;
}

.hero {
    background: linear-gradient(
        135deg,
        #050507,
        #400817,
        #711027,
        #17051e
    );
}

.story {
    background: linear-gradient(
        135deg,
        #090511,
        #351050,
        #780d55,
        #13051b
    );
}

.rooms {
    background: linear-gradient(
        135deg,
        #03100b,
        #075b39,
        #17250b,
        #06100d
    );
}

.escape {
    background: linear-gradient(
        135deg,
        #0a0205,
        #510716,
        #970e2c,
        #250319
    );
}
``

.room {
    padding: 35px;
    border-radius: 12px;

    background: rgba(8, 8, 12, 0.85);

    border: 1px solid #483b4d;

    box-shadow: 0 12px 30px #000000;

    transition: 0.3s;
}

.bedroom {
    border-top: 4px solid #ff8a30;
}

.basement {
    border-top: 4px solid #41d67d;
}

.attic {
    border-top: 4px solid #8d3cff;
}

.hallway {
    border-top: 4px solid #d41432;
}

.room:hover {
    transform: translateY(-10px) scale(1.02);

    box-shadow:
        0 15px 30px #000000,
        0 0 20px #6c1730;
}

.room-grid {
    display: grid;

    grid-template-columns:
        repeat(2, minmax(250px, 1fr));

    gap: 30px;

    max-width: 950px;

    margin: 50px auto;
}

.ghost {
    position: absolute;

    font-size: 75px;

    opacity: 0.2;

    animation: ghostFloat 4s ease-in-out infinite;
}

.ghost-left {
    left: 8%;
    top: 20%;
}

.ghost-right {
    right: 8%;
    bottom: 20%;

    animation-delay: 1.5s;
}

@keyframes ghostFloat {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}